@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.min.css";
$primary-color: #008ed6;
$dark-gradient: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
$small-screen-width: 768px;
@import "navigationBar.scss";
@import "skills.scss";
@import "showcase.scss";
@import "contactMe.scss";
@import "experienceAndEducation.scss";
@import "certificates.scss";

body {
  position: relative;
}

section {
  padding-top: 45px;
}

.btn-whiteBordered {
  border: 1px solid #fff !important;
}

.fa {
  font-size: 30px;
}

.fa-clickable:hover {
  cursor: pointer !important;
}

.pictureBackground
{
    background-repeat: no-repeat;
    min-height: 900px;
}

@media (max-width: $small-screen-width) {
  .display-3 {
    font-size: 45px !important;
  }
}
